.home-grid{
    position: relative;
    top: 7em;
}
.home-typo{
    position: relative;
    top: 5em;
    justify-content: center;
    color: red;

}
.home-typo2{
    position: relative;
    top: 12em;
    justify-content: center;
}
.header{
    position: relative;
    display: flex;
    gap: 1em;
    justify-content: center;
    top: 3em;
}
.head2{
    color: red;
}
.slider{
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}